<form method="post" action="{{ path('app_chord_delete', {'id': chord.id}) }}" onsubmit="return confirm('Are you sure you want to delete this item?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ chord.id) }}">
    <button class="btn">Delete</button>
</form>
