{% extends 'base.html.twig' %}

{% block title %}Edit Chord{% endblock %}

{% block body %}
    <h1>Edit Chord</h1>

    {{ include('chord/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_chord_index') }}">back to list</a>

    {{ include('chord/_delete_form.html.twig') }}
{% endblock %}
