{% extends 'base.html.twig' %}

{% block title %}New Chord{% endblock %}

{% block body %}
    <h1>Create new Chord</h1>

    {{ include('chord/_form.html.twig') }}

    <a href="{{ path('app_chord_index') }}">back to list</a>
{% endblock %}
