{% extends 'base.html.twig' %}

{% block title %}New Tonalite{% endblock %}

{% block body %}
    <h1>Create new Tonalite</h1>

    {{ include('tonalite/_form.html.twig') }}

    <a href="{{ path('app_tonalite_index') }}">back to list</a>
{% endblock %}
