.home-header {
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 75vh;
}

.bg-trans-dark-1 {
    background-color: rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border-radius: 10px;
}

.home-title {
    font-size: clamp(23px, 2vw, 38px);
    font-weight: 900;
    color: #fff;
    text-align: center;
    margin: 0;
}

.home-subtitle {
    font-size: clamp(21px, 2vw, 28px);
    font-weight: 700;
    color: #fff;
    text-align: center;
    margin: 0;
}

.home-text-content {
    position: relative;
    font-size: clamp(13px, 2vw, 19px);
    font-weight: 500;
    margin-top: 15px;
}

.card-chord-link {
    text-decoration: none;
    color: inherit;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.card-chord-link:hover {
    background-color: #f1feff;
}

@media screen and (max-width: 768px) {
    .home-header {
        height: 50vh;
    }
}